<a [routerLink]="['/']">Back</a>
<div class="links">
    <tr>
        <th><a *ngIf="canChangeToPrev()" [routerLink]="['/history']" [queryParams]="{sensorname : getSensor(false)}">Prev</a></th>
        <th><div>Sensor</div></th>
        <th><a *ngIf="canChangeToNext()" [routerLink]="['/history']" [queryParams]="{sensorname : getSensor(true)}">Next</a></th>
    </tr>
</div>
<div>
    <button (click)="nextDay(false)"><</button>
    <input type="date"
        #dateInput 
        [valueAsDate]="dataDate" 
        [max]="maxDate"
        (change)="setDate($event)">
    <button [disabled]="isCurrentDate()" (click)="nextDay(true)">></button>
    <div *ngIf="isDynamicDataLoaded()" echarts [options]="options" [merge]="updateOptions" ></div>
</div>
