<a [routerLink]="['/']" >Cancel</a>
<div>
    <h2>Login</h2>
    <input type='text' 
        [(ngModel)]=ip
        minlength='7' 
        maxlength='15' 
        size='15' 
        placeholder="127.0.0.1">
    <button [disabled]="!isIP()" (click)='set()'>OK</button>
</div>

