<div>
    <h3 class="{{getClass()}}">{{sensorName}}</h3>
    <a [routerLink]="['/history']" [queryParams]="{sensorname : getSensorName()}">History</a>
    <p class="{{getClass()}}" *ngIf=alertMsg>{{alertMsg}}</p>
    <ul>
        <li *ngFor="let att of attributes | keyvalue">{{att.key}} : {{att.value}}</li>
    </ul>
</div>