.war
    color: rgb(200, 200, 30)

.alert
    color: rgb(200, 30, 30)
    font-weight: bold

.normal
    color: white

h3
    margin-bottom: 10px
ul
    margin-top: 10px
li
    color: rgb(110, 110, 110)