<div class="links">
    <div class="loading" *ngIf="refreshing">LOADING...</div>
    <button (click)='refresh()'>Refresh</button>
    <a [routerLink]="['/sensor-script']">Sensor scripts</a>
    <a [routerLink]="['/login']" [queryParams]="{ip : ip}">Login</a>
</div>
<div>
    <div class="address">Device IP address: {{ip}}</div>
    <div>
        <div class="sensors">
            <app-sensor-template *ngFor="let sensor of sensorsNames" [sensorName]="sensor"></app-sensor-template>
        </div>
    </div>
</div>
<div class="cammeras">
    <video #cam autoplay>
        <source src="http://192.168.0.121:8753/" type="video/ogg">
        Your browser does not support the video tag.
    </video>
</div>