.links
    display: flex
    justify-content: center
    margin-top: 10px
    position: relative
.address
    color: white
    text-align: right
    font-size: 10px
.sensors
    display: flex
    flex-wrap: wrap
    border: 2px solid #505050
    border-radius: 5px
    background-color: #272727
.cameras
    display: flex
    flex-wrap: wrap
a
    text-align: center
    margin-left: 10px
    margin-right:10px
app-sensor-template
    flex: 1
    padding: 25px
    white-space: nowrap
video
    flex: 1
    margin: 10px
    white-space: nowrap
    border-radius: 10px
.loading
    position: absolute
    left: 0
    top: 50% 
    transform: translateY(-50%) // Vertically center the loading text