<a [routerLink]="['/']" >Cancel</a>

<div>
       <h2>Sensor</h2>
       <!--<textarea [(ngModel)]="script" ></textarea>-->
       <select [(ngModel)]="selected" name="sensors" (ngModelChange)="showText($event)">
              <option *ngFor="let sensor of sensors" [selected]="sensor == selected">{{sensor}}</option>
       </select>
       <!--<button [disabled]="true" (click)='createNewSensor()'>UPDATE</button>-->
       
       <h3>Current:</h3>
       <prism  [code] = "script" language="python"></prism>
</div>
<div>
       <h2>Dictionary</h2>
       <div class="flowWrap">
              <div class="flow">
                     <h3>Sensors</h3>
                     <div *ngFor="let sensor of dictionarySensor">{{getTableRow(sensor)}}</div>
              </div>
              <div class="flow">
                     <h3>Attributes</h3>
                     <div *ngFor="let attribute of dictionaryAtt">{{getTableRow(attribute)}}</div>
              </div>
       </div>
</div>
<div>
       <h2>Test existing script</h2>
       <button (click)='runTest()'>Dry test run</button>
       {{result}}
</div>