/* You can add global styles to this file, and also import other style files */
@import "prismjs/themes/prism.css"

.language-python
    max-height: 200px !important
    line-height: 1 !important

body
    background: rgb(16, 16, 16)
